.HomeSectionContainer {
  // background-image: url('/src/assets/pictureOfMeBW.jpg');
  // background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  // width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  z-index: 1;
  // background-color: $color-dark;
  
}

.heroWrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;  
  transform-origin: "center";
  
  &_heroTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 80%;
    margin: 0 auto;
    z-index: 0;
  }

  &_heroText {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 100vh;
    margin-top: 15%;
    & > div{
      position: relative;
      z-index: 99;
    }
  }
}

.container{
      width: 100vw;
      margin-inline: auto;
      display: flex;
      justify-content: center;
}

.hero {
  background-color: $color-dark;
}


.hero-image {
  height: 100vh;
  -webkit-mask-image: url("src/assets/Titre_Portfolio-Test.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url("src/assets/Titre_Portfolio-Test.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  
  width: 100vw;
  object-fit: cover;
}