.aboutContainer{
    width: 100%;
    height: 100%;
    background-color: #1F271B;
    justify-content: center;
    align-items: center;
    padding-top: 42%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    & > h1{
        color: $color-muted ;
        position: absolute;
        top: 33%;
        z-index: 99;
        right: 10%;

    }
}