@use "sass:map";
@use "./breakpoint";

// Media query responsive

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found.";
  }
}

  
  // Centrage flex
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // Centrage vertical + direction colonne
  @mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  // Texte ellipsé en une ligne
  @mixin text-ellipsis {
    // overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  // Transition rapide
  @mixin transition($property: all, $duration: 0.3s, $ease: ease-in-out) {
    transition: $property $duration $ease;
  }
  